.container-seccess{
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.container-seccess{
    text-align: center;
}
